.GKt {
    display: flex;
    border-bottom: 2px solid #e0e0e0;
    width: 98%;
    padding-bottom: 22px;
}
.xgf {
    width: 80%;
}
.Pgf {
    width: 125px;
    height: 125px;
    background: #E76054;
    margin-top: 12px;
    text-align: center;
    border-radius: 2px;
}
.Pgf .fa {
    color: #fff;
    font-size: 71px;
    padding-top: 23px;
}
.xgf h1 {
    font-size: 44px;
}
.xgf strong {
    font-weight: 800;
}
.xgf p {
    font-size: 16px;
    font-weight: 500;
}
.rexc h1 {
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 400;
}
.xGf {
    display: flex;
}
.xGf {
    display: flex;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 3em;
}
.kjdh h2 {
    font-size: 20px;
    font-weight: 700;
}
.kjdh p {
    font-size: 15px;
    font-weight: 500;
}
.kjdh strong {
    font-weight: 800;
}
.Xgf h1 {
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 700;
}
.Xgf ul{
    list-style: circle;
    padding-left: 17px;
}
.Xgf ul li{
	font-size: 14px;
    font-weight: 500;
}
.Xgf {
    padding-top: 13px;
}
.kjdh {
    width: 27%;
    margin-right: 70px;
}
.HGGu {
    background: #fff;
    padding: 20px;
    width: 50%;
    margin-top: 20px;
}
.HGGu p{
    padding-bottom: 12px;
}
.form_cla label {
    width: 100%;
    display: inline-block;
    padding-bottom: 4px;
    font-weight: 500;
    color: #696969;
}
.form_cla input{
    width: 100%;
    height: 46px;
    border: 1px solid #d2d0d0;
    margin-bottom: 16px;
}
.form_cla select {
    width: 100%;
    max-width: 100%;
    height: 46px;
    border: 1px solid #d2d0d0;
    margin-bottom: 16px;
}
.form_cla input[type="submit"] {
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}
.jhRf {
    background: #fff;
    padding: 20px;
    width: 95%;
    margin-top: 20px;
}
.trR ul {
    display: flex;
}
.trR ul li {
    width: 33%;
    text-align: center;
    border: 1px solid #e6e6e6;
    line-height: 44px;
}
.trR ul li a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
}
.trR ul li.act {
    border: 1px solid #0073AA;
}
.FRuy {
    width: 50%;
    margin: auto;
    border: 1px solid #d2d0d0;
    padding: 30px;
    margin-top: 34px;
}
.ttbcs{
    text-align: center;
}
.ttbcs ul{
    display: inline-block;
}
.ttbcs ul li {
    float: left;
    padding: 10px 26px;
    border: 2px solid #e0e0e0;
    border-radius: 30px;
    margin: 0 6px;
}
.ttbcs ul li.aatabs{
    border: 2px solid #868282;
}
.ttbcs ul li a {
    font-weight: 800;
    color: #000;
    cursor: pointer;
}
.dsplnon{
    display: none;
}
/******************debkumar*******************/
#wpbody-content{
    padding: 0;
}
#transaction_wrapper .ui.stackable.grid {
    margin: 0;
}
#transaction_wrapper .selection.ui.dropdown {
    width: 100px;
    min-height: 16px;
}
#transaction_wrapper .right.aligned.eight.wide.column{
    width: 43% !important;
}
div#transaction_filter {
    width: 59%;
    float: right;
}

#distributor-table_wrapper .ui.stackable.grid {
    margin: 0;
}
#distributor-table_wrapper .selection.ui.dropdown {
    width: 100px;
    min-height: 16px;
}
#distributor-table_wrapper .right.aligned.eight.wide.column{
    width: 43% !important;
}
div#distributor-table_filter {
    width: 59%;
    float: right;
}
.row .right.aligned.eight.wide.column {
    width: 43% !important;
}

#structure-table_wrapper .ui.stackable.grid {
    margin: 0;
}
#structure-table_wrapper .selection.ui.dropdown {
    width: 100px;
    min-height: 16px;
}
#structure-table_wrapper .right.aligned.eight.wide.column{
    width: 43% !important;
}
div#structure-table_filter {
    width: 59%;
    float: right;
}


.form_cla .ui.search.dropdown {
    width: 98%;
    height: 46px;
    border: 1px solid #d2d0d0;
    margin-bottom: 16px;
    padding: 0 0 0 15px;
    line-height: 46px;
}

.dataTable a{
    padding: 10px;
}
.dataTable a i{
    font-size: 20px;
}

.dataTable .fa.fa-pencil{
    color: #ffa500;
    cursor: pointer;
}

.dataTable .fa.fa-trash{
    color: #f00;
    cursor: pointer;
}

.pagination.menu{
    padding-top: 0px;
}

.prespinner{
    width: 80px;
    height: 80px;
    /*display: none;*/
    border: 2px solid #f3f3f3;
    border-top:3px solid #f25a41;
    border-radius: 100%;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
    animation: spin 1s infinite linear;
    z-index: 99999;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}


/**** Tree ****/

.single_cl {
    width: 307px;
}
.tree li .endcl_cl::before{
    border: none !important;
}
.eendtree_wrap {
    display: flex;
    max-width: 121rem !important;
    overflow-x: auto;
    margin-bottom: 30px;
}
.das {
    display: flex;
    font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
}
.das span:first-child {
    font-size: 14px;
    text-align: center;
    width: 50%;
}
.das span:last-child {
    font-size: 14px;
    text-align: center;
    width: 50%;
    color: #ffd24f;
    font-weight: 900;
}


/*tree start here*/

/* Person */
.person {
	border: 1px solid black;
	padding: 5px;
    min-width: 58px;
	background-color: #FFFFFF;
	display: inline-block;
}

.person.female {
	border-color: #F45B69;
}

.person.male {
	border-color: #456990;
}

.person div {
	text-align: center;
}

.person .name {
	font-size: 13px;
}

.person .parentDrop, .person .spouseDrop, .person .childDrop {
	border: 1px dashed #000000;
	width: auto;
	min-width: 80px;
	min-height: 80px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding-top: 15px;
}

.person .parentDrop>span,
.person .spouseDrop>span,
.person .childDrop>span {
	position: absolute;
	top: 2px;
	left: 2px;
	font-weight: bold;
}
.parentDrop>.person,
.spouseDrop>.person,
.childDrop>.person {
	margin-top: 20px;
}

.single_cl {
    width: 307px;
}
.tree li .endcl_cl::before{
    border: none !important;
}
.eendtree_wrap {
    display: flex;
    max-width: 121rem !important;
    overflow-x: auto;
}
.das {
    display: flex;
    font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
}
.das span:first-child {
    font-size: 10px;
    text-align: center;
    width: 50%;
}
.das span:last-child {
    font-size: 11px;
    text-align: right;
    width: 50%;
    color: #ffd24f;
    font-weight: 900;
}


/* Tree */
.tree ul {
	padding-top: 20px;
	position: relative;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	margin: 0;
}
.tree li {
	display: table-cell;
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 12px 4px 0 4px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
    font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
}
.tree li::before, .tree li::after {
	content: '';
	position: absolute;
	top: 0;
	right: 50%;
	border-top: 1px solid #ccc;
	width: 50%;
	height: 20px;
}

.tree li::after {
	right: auto;
	left: 50%;
	border-left: 1px solid #ccc;
}
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

.tree li:only-child {
	padding-top: 0;
}
.tree li:first-child::before, .tree li:last-child::after {
	border: 0 none;
}
.tree li:last-child::before {
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after {
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}
.tree ul ul::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	border-left: 1px solid #ccc;
	width: 0;
	height: 20px;
}
.tree li .parent {
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
.mngs{position: relative;}
.mngs::before {
    content: '';
    position: absolute;
    top: 29px;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 3px;
    height: 10px;
}
.tree li .parent::before {
    content: '';
    position: absolute;
    top: 72px;
    left: 50%;
   /* border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;*/
    width: 3px;
    height: 12px;
}
.tree li .family {
	position: relative;
    z-index: 9;
}
.tree li .family .spouse {
	position: absolute;
	top: 0;
	left: 50%;
    margin-left: 95px;
}
.tree li .family .spouse::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 10px;
    height: 3px;
}
.tree li .child:hover,
.tree li .child:hover+.parent .person,
.tree li .parent .person:hover,
.tree li .child:hover+.parent .person+ul li .child,
.tree li .parent .person:hover+ul li .child,
.tree li .child:hover+.parent .person+ul li .parent .person,
.tree li .parent .person:hover+ul li .parent .person {
	background: #c8e4f8;
	color: #000;
	border: 1px solid #94a0b4;
}
.tree li .child:hover+.parent::before,
.tree li .child:hover+.parent .person+ul li::after,
.tree li .parent .person:hover+ul li::after,
.tree li .child:hover+.parent .person+ul li::before,
.tree li .parent .person:hover+ul li::before,
.tree li .child:hover+.parent .person+ul::before,
.tree li .parent .person:hover+ul::before,
.tree li .child:hover+.parent .person+ul ul::before,
.tree li .parent .person:hover+ul ul::before {
	border-color: #94a0b4;
}

.overlay-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay-popup.show {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
.form_CLa input {
    width: 98%;
}
.aaEbs {
    text-align: right;
    margin-top: 22px;
    margin-bottom: 15px;
}
.aaEbs input[type="search"] {
    border-radius: 0;
    border: 1px solid #ccc;
}
.aaEbs input[type="submit"] {
    background: #0073aa;
    color: #fff;
    border: none;
    padding: 5px 10px;
}
.dsG ul {
    margin: 0 auto;
    display: table;
}
/*.parent > ul {*/
/*    padding: 0;*/
/*}*/
@media screen and (max-width: 700px){
  .popup{
    width: 70%;
  }
}


/******************debkumar*******************/
/* Responsive start here */

@media only screen and (max-width: 533px) {
  .xgf h1 {
	    font-size: 40px;
	    line-height: 38px;
	}
	.rexc h1 {
	    font-size: 30px;
	    line-height: 31px;
	}
	.xGf {
	    display: block;
	}
	.kjdh {
	    width: 100%;
	    margin-bottom: 33px;
	}
}
/* .pre-loader */
.pre-loader {
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
}
.overlay {
    height: 100vh;
    width: 100vw;
    z-index: 50;
    position: absolute;
    background-color: #707070;
    opacity: 0.3;
}
.loader-container {
    height: 100vh;
    width: 100vw;
    z-index: 10;
    position: absolute;
}
/* //.pre-loader */